<a class="btn platform-admin-tables">Hide / Display</a>
<table class="bordered highlight responsive-table" id="pending-stores">
  <thead>
    <tr>
      <th data-field="title">Store Title</th>
      <th data-field="description">Description</th>
      <th data-field="status">Status</th>
      <th data-field="owner">Owner</th>
      <th data-field="image_url">Image Url</th>
      <th data-field="accreditation">Accreditations</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.pending_stores.each do |store| %>
    <tr>
      <td><%= store.title %></td>
      <td><%= store.description %></td>
      <td><%= store.status %></td>
      <td><%= store.user.username %></td>
      <td><%= store.image_url %></td>
      <td><%= store.accreditations.first %></td>
      <td><%= link_to "Approve", store_path(store.slug, params:
                                            {store: {title: store.title,
                                                     description: store.description,
                                                     image_url: store.image_url,
                                                     accreditations: store.accreditations,
                                                     status: "active"
                                                     }}), method: "patch" %></td>
      <td><%= link_to "Decline", store_path(store.slug, params:
                                            {store: {title: store.title,
                                                     description: store.description,
                                                     image_url: store.image_url,
                                                     accreditations: store.accreditations,
                                                     status: "declined"
                                                     }}), method: "patch" %></td>
    </tr>
    <% end %>
  </tbody>
</table><br><br>
