<div class="text center">
  <h2>Site Administrator Dashboard</h2>
</div>
<hr><br><br>

<div class="container">
  <h4>Site-wide Sales Summary Data</h4>
  <%= render partial: 'sales_data_table' %>

  <h4>Pending Stores</h4>
  <%= render partial: 'pending_stores_table' %>

  <h4>Active Stores</h4>
  <%= render partial: 'active_stores_table' %>

  <h4>Deactive Stores</h4>
  <%= render partial: 'deactive_stores_table' %>

  <h4>Declined Stores</h4>
  <%= render partial: 'declined_stores_table' %>

  <h4>All Categories</h4>
  <%= render partial: 'categories_table' %>
</div>
