<div class="store-items-dashboard-table">
  <h4 id="6">Our Items</h4>
  <a class="btn sales-data-tables">Hide / Display</a>
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Decsription</td>
        <td>Price</td>
        <td>Category</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @store_items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.title}", store_item_path(@store.slug, item.slug) %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.category.title %></td>
        <td><%= button_to "Delete", store_item_path(@store.slug, item.slug), method: :delete %></td>
        <!-- <td><%= button_to "Deactivate", store_item_path(@store.slug, item.slug), method: :patch, params: { new_status: false } %></td> -->
      </tr>
      <% end %>
      <tr>
        <td><%= link_to 'top of table', '#6'%></td>
      </tr>
    </tbody>
  </table><br><br>
</div>
