<%= @store.title %> Dashboard

<div class= 'container'>
  <div class="row"> <!-- Comapny Pic and Store Bio-->
    <div class="col s3 m3 l3">
      <img src="http://www.rv-camping.org/wp-content/uploads/2015/06/BLMLogo.gif" id='store-show-image'>
    </div>
    <div class="col s9 m9 l9">
      <div class="">
        <h1>Store Bio</h1>
        <p><%= @store.description %></p>
      </div>
    </div>
  </div>
</div><br>
<div class= 'container'>

  <h4>Sales Summary Data</h4>
  <a class="btn sales-data-tables">Hide / Display</a>
  <table class="bordered striped responsive-table" id="sales_summary"> <!-- Sales Summary Data-->
    <thead>
      <tr>
        <th data-field="orders-pending">Pending Orders</th>
          <th data-field="orders-paid">Paid Orders</th>
          <th data-field="orders-completed">Completed Orders</th>
          <th data-field="orders-cancelled">Cancelled Orders</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @store.pending_orders.count %></td>
        <td><%= @store.paid_orders.count %></td>
        <td><%= @store.completed_orders.count %></td>
        <td><%= @store.cancelled_orders.count %></td>
      </tr>
    </tbody>
  </table><br><br>

      <!-- Orders Data -->
  <div id="orders_summary">
    <div class="store-pending-orders-table">
      <h4 id='1'>Pending Orders</h4>
      <a class="btn sales-data-tables">Hide / Display</a>
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <th data-field="id">Order id</th>
            <th data-field="buyer">Buyer</th>
            <!-- <th data-field="order_date">Order Date</th> -->
            <th data-field="price">Price</th>
          </tr>
        </thead>
        <tbody>
          <% @store.pending_orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.user.username %></td>
            <!-- <td><%= order.created_at %></td> -->
            <td><%= order.total_price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <tr><%= link_to 'top of table', '#1'%></tr><br><br>
    </div>
    <h4 id="2">Paid Orders</h4>
    <a class="btn sales-data-tables">Hide / Display</a>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th data-field="id">Order id</th>
          <th data-field="buyer">Buyer</th>
          <!-- <th data-field="order_date">Order Date</th> -->
          <th data-field="price">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @store.paid_orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user.username %></td>
          <!-- <td><%= order.created_at %></td> -->
          <td><%= order.total_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <tr><%= link_to 'top of table', '#2'%></tr><br><br>
    <h4 id= "3">Completed Orders</h4>
    <a class="btn sales-data-tables">Hide / Display</a>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th data-field="id">Order id</th>
          <th data-field="buyer">Buyer</th>
          <!-- <th data-field="order_date">Order Date</th> -->
          <th data-field="price">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @store.completed_orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user.username %></td>
          <!-- <td><%= order.created_at %></td> -->
          <td><%= order.total_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table><tr><%= link_to 'top of table', '#3'%></tr><br><br>
    <h4 id='4'>Cancelled Orders</h4>
    <a class="btn sales-data-tables">Hide / Display</a>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th data-field="id">Order id</th>
          <th data-field="buyer">Buyer</th>
          <!-- <th data-field="order_date">Order Date</th> -->
          <th data-field="price">Price</th>
        </tr>
      </thead>
      <tbody>
        <% @store.cancelled_orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user.username %></td>
          <!-- <td><%= order.created_at %></td> -->
          <td><%= order.total_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <tr><%= link_to 'top of table', '#4'%></tr><br><br>
    <h4>Store Admin</h4>
    <a class="btn sales-data-tables">Hide / Display</a>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Alvin@email.com</td>
          <td>(203) 234-2342</td>
        </tr>
      </tbody>
    </table><br><br>

    <h4>Categories I sell in</h4>
    <a class="btn sales-data-tables">Hide / Display</a>
    <table class="bordered highlight responsive-table">
      <thead class="collapsible-header">
        <tr>
            <th>Category</th>
        </tr>
      </thead>

      <tbody class="collapsible-body">
        <% @store.item_categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
        </tr>
        <% end %>
      </tbody>
    </table><br><br>
  </div>
</div>
