<div class= 'container'>
  <div class="row"> <!-- Comapny Pic and Store Bio-->
    <div class="col s3 m3 l3">
      <img src="http://www.rv-camping.org/wp-content/uploads/2015/06/BLMLogo.gif" id='store-show-image'>
    </div>
    <div class="col s9 m9 l9">
      <div class="">
        <h3><%= @store.title %> Dashboard</h3>
        <p><%= @store.description %></p>
      </div>
    </div>
  </div>
</div><br>
<div class= 'container'>
  <%= render partial: 'sales_summary_table' %>
  <div class="conatiner all-orders-section">

    <h4>All Orders</h4>
    <a class="btn sales-data-tables">Hide / Display</a>
    <div id="orders_summary">
      <%= render partial: "pending_orders_table" %>

      <%= render partial: "paid_orders_table" %>

      <%= render partial: "completed_orders_table" %>

      <%= render partial: "cancelled_orders_table" %>

    </div>
  </div><br>

    <%= render partial:  'store_items_table' %>

    <%= render partial:  'store_categories_table' %>

    <%= render partial: 'store_admin_table' %>

</div>
