<div class="container">
  <div class="row">
    <div class="col s12 m12 l12" id= "edit-item-form">
      <h2>Fill in data to edit your store</h2>
      <%= form_for @store do |f| %>
        <%= f.label :title, "Title:" %>
        <%= f.text_field :title %>

        <%= f.label :description, "Description:" %>
        <%= f.text_field :description %>

        <%= f.label :image_url, "Image Url:" %>
        <%= f.text_field :image_url %>

        <%= f.label :accreditations, "Accredidations:" %>
        <%= f.text_field :accreditations %>

        <%= f.submit "Submit", class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
  </div>
</div>
