<%= form_for(@store) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :accreditations %>
  <%= f.text_field :accreditations %>

  <div class="center", id="new_user_submit">
    <a class="waves-effect waves-light btn-large yellow darken-3" id="large-page-button" >
    <%= f.submit "Register Store", id:"large-page-button-text"%></a>
  </div>
<% end %>
