<tr>
  <td><%= image_tag item.image_url, height: '100', width: '100', id: "#{item.id}_item" %></td>
  <td><%= item.title %></td>
  <td><%= item.description %></td>
  <td><%= item.travesty.title %></td>
  <td><%= item.price %></td>
  <td><%= link_to "Delete", admin_item_path(item), method: :delete %></td>
</tr>
