<tr>
  <td><%= image_tag item.image_url, height: '100', width: '100', id: "#{item.id}_item" %></td>
  <td><%= item.title %></td>
  <td><%= item.description %></td>
  <td><%= item.travesty_title %></td>
  <td><%= number_to_currency(item.price) %></td>
  <td class ="cart-qty" id="<%= "item_#{item.id}_qty" %>" >
    <%= form_for(:qty_update_data, url: cart_item_path(item.id), method: "patch") do |f| %>
      <%= f.label :quantity %>
      <div class="container center">
      <%= f.text_field :quantity, value: item.qty %>
      </div>
      <%= f.hidden_field :item_id, value: item.id %>
      <a class="waves-effect waves-light btn"><%= f.submit "Update quantity"%></a>
    <% end %>
  </td>
  <td id= "<%= "item_#{item.id}_line_ttl" %>" > <%= number_to_currency(item.line_total_price) %></td>
  <td><%= link_to "Remove", cart_item_path(item.id), method: :delete %></td>
</tr>
