<li>
  <div class="row">
    <div class="card-carousel">
      <div class="card">
        <div class="card-image">
          <%= image_tag item.image_url, height: '200', width: '300', id: "#{item.id}_item" %>
        </div>
        <div class="card-content center" style="padding:10px;">
          <span class="card-title" style="font-size: large; overflow: hidden;white-space: nowrap;">
            <%= link_to item.title, item_path(item) %>
          </span>
          <p style="font-size: medium;">Price: <%= number_to_currency(item.price) %></p>
        </div>
        <div class="card-action center" id='<%= "#{item.id}_add_button" %>' >
          <% if item.active? %>
          <a class="waves-effect waves-light btn">
            <%= button_to "Add to cart", cart_items_path(item_id: item.id), id: "#{item.id}_add_button"%>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
