<nav class="utopify-navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Utopify</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li id="nav-li"> <%= link_to "Logged in as #{current_user.first_name}", '/dashboard'%></li>
        <li id="nav-li"> <%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li id="nav-li"><%= link_to "Login", login_path %></li>
        <li id="nav-li"><%= link_to "Create Account", new_user_path%></li>
      <% end %>
      <li id="nav-li"><%= link_to "My Cart: #{cart.count_of}", cart_path%></li>
    </ul>
  </div>
</nav>
