<tr>

  <td><%= link_to order_item.item.title, item_path(order_item.item) %></td>

  <td><%= order_item.item.description %></td>

  <td><%= order_item.item.travesty.title %></td>

  <td><%= number_to_currency(order_item.item_price) %></td>

  <td><%= order_item.item_quantity %></td>

  <td><%= number_to_currency(order_item.item_quantity.to_i * order_item.item_price.to_i) %></td>

  <td>
    <%= @order.status.capitalize %>
		<% if @order.status == "completed" || @order.status == "cancelled" %>
			: <%= @order.updated_at %>
		<% end %>
  </td>

  <td><%= @order.created_at %><td>

</tr>
