<div class='row container show-container'>
  <div class="col s6 m6 show-left">
    <div id="show-image">
      <img src="http://www.intrawallpaper.com/static/images/1250654-for-laptop-nature.jpg">
    </div>
  </div>

  <div class="col s5 m5 show-right" id='main-item-show' >
    <h3 id="feature-title"><%= @item.title %></h2>
    <p id="feature-narrative"><%= @item.description %>
    </p>
    <p id="feature-details-dynamic">
      Seller: <%= link_to @item.store.title, store_path(@item.store.slug) %>
    </p>
    <p>$ <%= @item.price %></p>
    <div class="card-action row">
      <%= form_for(:cart_item, url: cart_items_path(item_id: item.id)) do |f| %>
        <div class="col s2 m2 l2">
          <%= f.label "Qty:", class: "qty-label" %>
        </div>
        <div class="col s2 m2 l2">
          <%= f.number_field(:quantity, in: 1.0..20.0, value: 1, class: "qty-selector") %>
        </div>
        <div class="col s8 m8 l8">
          <%= f.submit "Add To Cart", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="row" id="home-middle">
    <h4 class="text center">Other Items in <%= link_to @item.category.title, category_path(@item.category.slug)  %></h4><br>
    <% @related_items.each do |item| %>
      <a href="<%= store_item_path(item.store.slug, item.slug) %>" id= "link-to-item-<%=item.id%>">
        <div class="col s4 m4 l4 center">
          <img src='<%= item.image_url %>' alt="" class="circle responsive-img" id="featured-circles">
          <p><%= item.title %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>
