<div class="col s9 m9 l9 item-index" id="" >
  <% @items.each do |item| %>
    <div class="card col s4 m4 l4 center <%= "item_#{item.id}" %>">
      <div class="card-content">
        <div class="card-image">
          <img src='<%= item.image_url %>' id="card-image">
          <span class="card-title-alt"><%= link_to item.title, store_item_path(item.store.slug, item.slug) %></span>
        </div>
        <div id="card-store-title">
          <%= link_to item.store.title, store_path(item.store.slug) %>
          <br>
          <p id="card-item-price"><%= number_to_currency(item.price) %></p>
        </div>


        <div class="card-action">
          <%= form_for(:cart_item, url: cart_items_path(item_id: item.id)) do |f| %>
            <%= f.label "Qty:", class: "qty-label" %>
            <%= f.number_field(:quantity, in: 1.0..20.0, value: 1, class: "qty-selector") %>
            <%= f.submit "Add To Cart", class: 'btn card-item-btn' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
