<div class = "container">
  <br>
  <div class="row">
    <div class="col s4 m4 l4">
      <div class="card-panel teal">
        <span class="card-title"> <%= @user.first_name %>'s Profile</span>
        <ul>
          <li>First name: <%= @user.first_name %></li>
          <li>Last name: <%= @user.last_name %></li>
          <li>User: <%= @user.username %></li>
          <li>User Since: <%= @user.created_at.strftime("%B %e, %Y") %></li><br>
          <li><%= link_to "Edit Info", edit_user_path(@user.id), class:'white-text' %></li>
        </ul>
      </div>
    </div>
  </div>
  <h4>Past Orders</h4>
  <a class="btn user-data-tables">Hide / Display</a>
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th>Order No:</th>
        <th>Total Price</th>
        <th>Order Date</th>
        <th>Order status</th>
        <th>View Order</th>
      </tr>
    </thead>
    <tbody>
      <% @user.orders.each do |order| %>
      <tr>
        <td><%= order.id%></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= order.created_at.strftime("%B %e, %Y")%></td>
        <td><%= order.status %></td>
        <td><%= link_to 'view', order_path(order) %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br><br>


<%= link_to "Register a Store", new_store_path %>
