<div class= 'row center' id="background-home">
  <p class="home-gif-center-paragraph">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  </p>
  <a class="btn" id="home-center-button" href="#filter-items-section">BROWSE</a>
</div>

<div class="row" id="home-middle">
  <h4 class="centered-header">Our Initiatives</h4><br>
  <%= @top_categories.each do |category| %>
    <div class="col s4 m4 l4 center">
      <img src=" <%= category.category_image %>" alt="" class="circle responsive-img" id="featured-circles">
      <p><%= link_to category.title, category_path(category)%></p>
    </div>
  <% end %>
  <%= link_to "Browse All Categories", categories_path %>
</div>

<hr id="hr-divider">

<div class="row container" id="filter-items-section">
  <h4 class="centered-header">Products from Our Partners</h4><br>

<div class="col s3 m3 l3 filter-sidebar">
  <h5 id="filter-category-header">Frequency</h5>
    <%= form_tag(search_path, method: :get, id: "filter-sidebar", remote: true) do %>
      <%= check_box_tag("params[active]", true) %>
      <%= label_tag("params_active", "Active") %>
      <br>
      <%= submit_tag("Submit") %>
    <% end %>
</div>

<div class="col s9 m9 l9 items-index-filterable" id="filterable-items">
  <%= render partial: "partials/grid_item", collection: @items, as: :item %>
</div>
