<div class="container center">
  <div class="col s2">
    <div class="card">
      <div class="card-image">
        <%= image_tag item.image_url, height: '200', width: '300', id: "#{item.id}_item" %>
        <span class="card-title"><%= item.title %></span>
      </div>
      <div class="card-content center">
        <p><%= item.description %></p>
        <p>Price: $<%= item.price %></p>
        <p>Travesty: <%= item.travesty.title %></p>
      </div>
      <div class="card-action center">
        <%= button_to "Add to cart", cart_items_path(item_id: item.id), id: "#{item.id}_add_button"  %>
      </div>
    </div>
  </div>
</div>
