<tr>

  <td><%= link_to order_item.item.title, item_path(order_item) %></td>

  <td><%= order_item.item_quantity %></td>

  <td><%= number_to_currency(order_item.item_price) %></td>

  <td id= "<%= "item_#{order_item.order_id}_line_ttl" %>" > <%=  number_to_currency(order_item.item_price * order_item.item_quantity) %></td>

</tr>
