<tr>

  <td><%= image_tag item.image_url, height: '300', width: '300', id: "#{item.id}_item" %></td>

  <td><%= item.title %></td>

  <td><%= item.description %></td>

  <td><%= item.travesty_title %></td>

  <td><%= item.price %></td>

  <td><%= item.qty %><td>

  <td id= "<%= "item_#{item.id}_line_ttl" %>" > <%= item.line_total_price %></td>

</tr>
