
<div class="checkout container">
  <div class="col s12 m5">
    <div class="card-panel">
      <h3 class="center"> Order Details: </h3>
      <table class="bordered striped highlight centered responsive-table">
      	<thead>
      		<tr>
      			<th data-field="Item">Item</th>
      			<th data-field="Quantity">Quantity</th>
      			<th data-field="Price">Price ($)</th>
      			<th data-field="TotalPrice">Total Price ($)</th>
      		</th>
      	</tr>
      </thead>
      <tbody>
      	<%= render partial: "order_items", collection: @items, as: :order_item %>
      </tbody>
      </table>

      <div class="right-align">
      		<h4>Order Created On: <%= @order.created_at %></h4>
          <h4><%= @order.status.capitalize %>
            <% if @order.status == "completed" || @order.status == "cancelled" %>
             (Updated At: <%= @order.updated_at %>)
          <% end %>
          </h4>
      		<h4>Total Price: <%=number_to_currency(@order.total_price)%></h4>
      </div>
    </div>
  </div>
</div>
