<tr>

  <td><%= image_tag item[0].image_url, height: '300', width: '300', id: "#{item[0].id}_item" %></td>

  <td><%= item[0].title %></td>

  <td><%= item[0].description %></td>

  <td><%= item[0].travesty.title %></td>

  <td><%= item[0].price %></td>

  <td id="<%= "item_#{item[0].id}_qty" %>" >
    <%= form_for(:qty_update_data, url: cart_item_path(item[0].id), method: "patch") do |f| %>
      <%= f.label :quantity %>
      <%= f.text_field :quantity, value: item[1] %>
      <%= f.hidden_field :item_id, value: item[0].id %>
      <%= f.submit "Update quantity"%>
    <% end %>
  </td>

  <td id= "<%= "item_#{item[0].id}_line_ttl" %>" > <%= @cart.line_total_price(item[0]) %></td>

  <td><%= link_to "Remove", cart_item_path(item[0]), method: :delete %></td>

</tr>
