<h1>Items Index</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.title %>
      <br>
      <%= item.description %>
      <br>
      <%= item.price %>
      <br>
      <%= item.travesty.title %>
      <br>
      <%= image_tag item.image_url, height: '300', width: '300', id: "#{item.id}_item" %>
      <br>
      <%= button_to "Add to cart", cart_items_path(item_id: item.id), id: "#{item.id}_add_button"  %>
    </li>
<% end %>
</ul>
