<h1>Items Index</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.title %>
      <br>
      <%= item.description %>
      <br>
      <%= item.price %>
      <br>
      <%= item.travesty.title %>
      <br>
      <%= image_tag item.image_url, height: '300', width: '300', id: "#{item.id}_item" %>
    </li>
<% end %>
</ul>
