<div class="container center">
	<div class="card">
		<span class="card-title">
			<h1> Admin Orders Index: </h1>
		</span>
		<div class="card-content center">
			<div id="ordered">
				<h3>Ordered</h3>
				<%= @orders.ordered %>
			</div>
			<div id="paid">
				<h3>Paid</h3>
				<%= @orders.paid %>
			</div>
			<div id="completed">
				<h3>Completed</h3>
				<%= @orders.completed %>
			</div>
			<div id="cancelled">
				<h3>Cancelled</h3>
				<%= @orders.cancelled %>
			</div>
			<br>
			<br>
			<div class="filter">
				<h4>Filter By Status:</h4>
				<%= select :order, :filter_status, @statuses, {include_blank: true} %>
			</div>
			<table class="bordered striped highlight centered responsive-table">
				<thead>
					<tr>
						<th data-field="User">User</th>
						<th data-field="Status">Status</th>
						<th data-field="CreatedAt">Created At</th>
						<th data-field="TotalPrice">Total Price</th>
						<th data-field="ViewOrder">View Order</th>
						<th data-field="Update">Update</th>
					</th>
				</tr>
			</thead>
			<tbody>
				<%= render partial: "partials/admin_orders", collection: @orders.orders, as: :order %>
			</tbody>
		</table>
	</div>
</div>
</div>
