
<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Write a Review for <%= @item.title %></span>
      <%= form_for(@review, url: item_reviews_path(params[:item_id])) do |f| %>
      <%= f.label :text %>
      <%= f.text_field :text %>

      <%= f.label :stars %>
      <%= f.text_field :stars %>

      <%= f.submit "Create Review" %>
      <% end %>
    </div>
  </div>
</div>
