<!DOCTYPE html>
<html>
<head>
  <title>Apocalypsify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "My Cart:", cart_path %> <%= @cart.count_of %>

  <% flash.each do |type, message| %>
    <%= content_tag :div, message %>
  <% end %>

<%= yield %>

</body>
</html>
