<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>

  <title>Utopify: Redeem yourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "partials/navbar", locals: {cart: @cart, user: @user} %>
      <% flash.each do |type, hash| %>
      <%= render partial: "partials/flash_card", locals: {message: hash["message"], color: hash["color"]} %>
      <% end %>
      <%= yield %>
</body>
</html>
