<!DOCTYPE html>
<html>
<head>
  <link href='http://dl.dafont.com/dl/?f=jungle' rel='stylesheet' type='text/css'>

  <title>apocalypsify</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--Navigation-->
   <div class="navbar-fixed">
      <nav id="nav_f" class="default_color" role="navigation">
              <div class="nav-wrapper">
                  <h1 class="jungle center"><a href="/">Apocalypsify</a></h1>
                  <ul class="right hide-on-med-and-down">
                      <li><%= link_to "My Cart: #{@cart.count_of}", cart_path%></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav">
                    <li><a href="/cart">My Cart</a></li>
                  </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              </div>
      </nav>
  </div>

  <div class="container-fluid" style="padding: 50px" >

  <% flash.each do |type, message| %>
    <%= content_tag :div, message %>
  <% end %>

<%= yield %>

  </div>
</body>
</html>
